## Module 4

#### In this assignment, you will continue working on the movie data from IMDB.
- The data includes movies and ratings from the IMDB website
- Data File(s): imdb.xlsx

#### Data file contains 3 sheets:
- “imdb”: contains records of movies and ratings scraped from IMDB website
- “countries”: contains the country (of origin) names
- “directors”: contains the director names

We have loaded and joined the data as "df" for you. Follow the instructions and finish the rest part.

In [1]:
###########################################################
### EXECUTE THIS CELL BEFORE YOU TO TEST YOUR SOLUTIONS ###
###########################################################

import imp, os, sys
sol = imp.load_compiled("solutions", "./solutions.py")
sol.get_solutions("imdb.xlsx")
from nose.tools import assert_equal
from pandas.util.testing import assert_frame_equal, assert_series_equal

In [2]:
# Loading the data
import pandas as pd

xls = pd.ExcelFile('imdb.xlsx')
df = xls.parse('imdb')
df_directors = xls.parse('directors')
df_countries = xls.parse('countries')

df = pd.merge(left=df, right=df_countries, 
              how='inner', left_on='country_id', 
              right_on='id')

df = pd.merge(left=df, right=df_directors, 
              how='inner', left_on='director_id', 
              right_on='id')

print("Finished.")

Finished.

In [3]:
df.head()

,movie_title,director_id,country_id,content_rating,title_year,imdb_score,gross,duration,id_x,country,id_y,director_name
0,The Shawshank Redemption,34,1,R,1994,9.3,28341469,142,1,USA,34,Frank Darabont
1,The Green Mile,34,1,R,1999,8.5,136801374,189,1,USA,34,Frank Darabont
2,The Godfather,33,1,R,1972,9.2,134821952,175,1,USA,33,Francis Ford Coppola
3,The Godfather: Part II,33,1,R,1974,9.0,57300000,220,1,USA,33,Francis Ford Coppola
4,Apocalypse Now,33,1,R,1979,8.5,78800000,289,1,USA,33,Francis Ford Coppola

In [21]:
""" Q1: 
Get the summary statistics for imdb_score and gross, then use the describe() function to summarize this visually. Save the
result in a variable called score_gross_description and print it.
"""

# your code here
new_df = df[["imdb_score","gross"]]
score_gross_description = new_df.describe()
print(score_gross_description)

       imdb_score         gross
count  178.000000  1.780000e+02
mean     8.294382  1.030402e+08
std      0.266960  1.242549e+08
min      8.000000  8.060000e+03
25%      8.100000  1.318510e+07
50%      8.200000  5.194371e+07
75%      8.475000  1.522436e+08
max      9.300000  6.232795e+08

In [22]:
assert_frame_equal(score_gross_description, sol.score_gross_description)
print("Success!")

Success!

In [39]:
"""Q2:
What is the average rating of the director Christopher Nolan's movies? Save this value in a variable called nolan_mean and 
print.
"""

# your code here
# C_movie = df['director_name'].isin(['Christopher Nolan'])
C_movie = df['director_name'] == 'Christopher Nolan'
new_df = df[C_movie]
nolan_mean = new_df['imdb_score'].mean()

In [40]:
assert_equal(nolan_mean, sol.nolan_mean)

In [70]:
"""Q3: 
Create a series called 'directors' that contains each director's name and his or her average rating.  Print out the type of your variable.
Use the 'directors' series to find the average rating for Steven Spielberg.  Print the value.
"""

# your code here
directors = (pd.pivot_table(df, index=["director_name"], values=["imdb_score"])).squeeze()
print(type(directors))

print(directors.get('Steven Spielberg'))

<class 'pandas.core.series.Series'>
8.48

In [69]:
assert_series_equal(directors, sol.directors)
print("Success!")

Success!

In [85]:
"""Q4:
Select the non-USA movies made after 1960 by Hayao Miyazaki.
Save the result in a DataFrame called 'miyazaki', then print it.

Here are the steps:
1. Query the data ('df' DataFrame) based on the following conditions:
- Non-USA movies (country_id != 1)
- Movies made after 1960 (title_year > 1960)
- Movies made by director Hayao Miyazaki (director_id == 46)
2. Save the filtered data in a DataFrame called 'miyazaki' and print it

"""

# your code here
non_usa = df['country_id'] != 1
after_1960 = df['title_year'] > 1960
director = df['director_id'] == 46

miyazaki = df[non_usa & after_1960 & director]

In [86]:
assert_frame_equal(miyazaki, sol.miyazaki)
print("Success!")

Success!

In [109]:
"""Q5: 
Create a Pivot Table that shows the median rating for each director, grouped by their respective countries. Name your variable
'pivot_agg'
"""

# your code here
import numpy as np
pivot_agg = (pd.pivot_table(df, index=["country","director_name"], values=["imdb_score"], aggfunc=[np.median]))
print(pivot_agg)

                                      median
                                  imdb_score
country      director_name
Argentina    Juan Jose Campanella       8.20
Australia    George Miller              8.10
Brazil       Fernando Meirelles         8.70
             Jose Padilha               8.10
Canada       Denis Villeneuve           8.20
...                                      ...
USA          Tony Scott                 8.00
             Victor Fleming             8.15
             Wes Anderson               8.10
             Woody Allen                8.10
West Germany Wolfgang Petersen          8.40

[125 rows x 1 columns]

In [110]:
assert_frame_equal(pivot_agg, sol.pivot_agg)
print("Success!")

Success!

In [114]:
"""Q6:
How long did the movie Gladiator aim to keep your attention? Save the series with this information
in a variable called 'gladiator_duration', then print it.
"""

# your code here
gladiator = df['movie_title'] == 'Gladiator'
gladiator_duration = df[gladiator]["duration"]

In [115]:
assert_series_equal(gladiator_duration, sol.gladiator_duration)
print("Success!")

Success!