## Module 3

#### In this assignment, you will continue working on the movie data from IMDB.
- The data includes movies and ratings from the IMDB website
- Data File(s): imdb.xlsx

#### Data file contains 3 sheets:
- “imdb”: contains records of movies and ratings scraped from IMDB website
- “countries”: contains the country (of origin) names
- “directors”: contains the director names

We have loaded the data as "df" for you. Follow the instructions and finish the rest.

In [91]:
###########################################################
### EXECUTE THIS CELL BEFORE YOU TO TEST YOUR SOLUTIONS ###
###########################################################

import imp, os, sys
sol = imp.load_compiled("solutions", "./solutions.py")
sol.get_solutions("imdb.xlsx")
from nose.tools import assert_equal
from pandas.util.testing import assert_frame_equal, assert_series_equal

In [13]:
# Loading the data
import pandas as pd

xls = pd.ExcelFile('imdb.xlsx')
df = xls.parse('imdb')
df_directors = xls.parse('directors')
df_countries = xls.parse('countries')

print("Data Loading Finished.")

Data Loading Finished.

In [14]:
df.head()

,movie_title,director_id,country_id,content_rating,title_year,imdb_score,gross,duration
0,The Shawshank RedemptionÊ,34,1,R,1994,9.3,28341469,142
1,The GodfatherÊ,33,1,R,1972,9.2,134821952,175
2,The Dark KnightÊ,16,1,PG-13,2008,9.0,533316061,152
3,The Godfather: Part IIÊ,33,1,R,1974,9.0,57300000,220
4,The Lord of the Rings: The Return of the KingÊ,83,1,PG-13,2003,8.9,377019252,192

In [15]:
df_directors.head()

   id          director_name
0   1         Akira Kurosawa
1   2     Alejandro Amenabar
2   3  Alejandro G. Inarritu
3   4       Alfred Hitchcock
4   5         Andrew Stanton

In [16]:
df_countries.head()

   id      country
0   1          USA
1   2        Italy
2   3  New Zealand
3   4        Japan
4   5       Brazil

In [17]:
""" Q1: 
Join three Dataframes: df, df_directors, and df_countries with an inner join.
Store the joined DataFrames in df.

Here are the steps:
1. Merge df with df_countries and assign it df
2. Merge df with df_directors and assign it to df again
There might be errors if the merge is not in this order, so please be careful.

"""

# your code here
df = pd.merge(left=df, right=df_countries, how='inner',left_on='country_id', right_on='id')
df = pd.merge(left=df, right=df_directors, how='inner', left_on='director_id', right_on='id')

# After the join, the resulting Dataframe should have 12 columns.
df.shape

(178, 12)

In [18]:
assert_equal(df.shape, sol.df.shape)
print("Success!")

Success!

In [19]:
""" Q2: 
Save the first ten rows of movie titles in a variable called first10, then print it
"""

# your code here
first10 = df['movie_title'].head(10)
print(first10)

0    The Shawshank RedemptionÊ
1              The Green MileÊ
2               The GodfatherÊ
3      The Godfather: Part IIÊ
4              Apocalypse NowÊ
5             The Dark KnightÊ
6                   InceptionÊ
7                InterstellarÊ
8                     MementoÊ
9                The PrestigeÊ
Name: movie_title, dtype: object

In [20]:
assert_series_equal(first10, sol.first10)
print("Success!")

Success!

In [22]:
""" Q3: 
There's an extra character at the end of each movie title. 
Remove it from the data using str.replace.
And print the first ten rows of movie titles again. 
"""

# your code here
df['movie_title'] = df['movie_title'].str.replace('Ê','')
print(df['movie_title'].head(10))

0    The Shawshank Redemption
1              The Green Mile
2               The Godfather
3      The Godfather: Part II
4              Apocalypse Now
5             The Dark Knight
6                   Inception
7                Interstellar
8                     Memento
9                The Prestige
Name: movie_title, dtype: object

In [23]:
assert_frame_equal(df, sol.df)
print("Success!")

Success!

In [132]:
""" Q4:
Who is the director with the most movies? First get the number of movies per "director_name", then save the director's name
and count as a series of length 1 called "director_with_most"
"""

# your code here
from collections import Counter
count = Counter(df['director_name'])
director_with_most = ((pd.DataFrame.from_dict(count, orient='index')).squeeze()).nlargest(1).rename('director_name')
print(director_with_most)

Christopher Nolan    7
Name: director_name, dtype: int64

In [133]:
assert_series_equal(director_with_most, sol.director_with_most)
print("Success!")

Success!

In [144]:
"""Q5:
Save all of this director's movies and their ratings in a variable called all_movies_ratings, then print this variable.
(The director with the most movies you got from the last question.)
"""

# your code here
director_movies = df['director_name'] == 'Christopher Nolan'
df_new = df[director_movies]
all_movies_ratings = df_new[['movie_title','imdb_score']]

In [145]:
assert_frame_equal(all_movies_ratings, sol.all_movies_ratings)
print("Success!")

Success!

In [146]:
"""Q6:
Recommend a **random** movie that has a rating of over 8.3. 
Store the random recommendation in a variable called "rand_goodmovie".
What is the title and imdb_score of your recommendation?
 
Here are the steps:
1. Query the data ('df' DataFrame) for movies with a rating over 8.3 (imdb_score > 8.3)
2. Create a random integer index location to get a single movie recommendation
3. Save the random movie recommendation in a DataFrame called 'rand_goodmovie'
4. Save the title of the random movie recommendation in a variable "random_title" and print it
5. Save the imdb_score of the random movie recommendation in a variable "random_imdb_score" and print it

"""
# Do not modify this part, it's needed for grading
import random
random.seed(0)

# your code here
rating_over = df['imdb_score']>8.3
new_df = df[rating_over]

rand_int = random.randint(0, len(new_df)-1)
rand_goodmovie = new_df[rand_int:rand_int+1]
random_title = rand_goodmovie['movie_title']
random_imdb_score = rand_goodmovie['imdb_score']

In [147]:
from nose.tools import assert_in
assert_in(rand_goodmovie[["movie_title", "imdb_score"]].values, sol.possible_goodmovies[["movie_title", "imdb_score"]].values)
assert_equal(random_title.iloc[0], rand_goodmovie["movie_title"].iloc[0])
assert_equal(random_imdb_score.iloc[0], rand_goodmovie["imdb_score"].iloc[0])
print("Success!")

Success!